@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
.attribution { 
    font-size: 11px; text-align: center; 
    margin: 10px;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    width: 100%;
  }

main {
    background-color: #fff;
    width: 400px;
    height: 560px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 hsla(245, 75%, 52%, 0.2);
    background-image: url("/images/illustration-hero.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -1;
}

h1 {
    color: hsl(223, 47%, 23%);
    font-size: 26px;
    font-weight: 900;
    margin-top: 40px;
    padding-top: 12rem;
}

p {
    text-align: center;
    font-size: 15px;
    margin: 15px;
    color: hsl(224, 23%, 55%);
    width: 320px;
}

img.illustration {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 400px;
    height: 195.55;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    width: 320px;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.plan-text {
    padding-left: 20px;
}

.change {
    margin-left: 80px;
}

input:hover {
    cursor: pointer;
    letter-spacing: 1px;
}

.plan h4 {
    font-size: 15px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan h5 {
    font-size: 15px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.plan a {
    font-size: 13px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.plan a:hover {
    color: hsla(245, 75%, 52%, 0.5);
}

.change {
    justify-content: right;
}

img.icon {
    width: 45px;
    height: 45px;
    transition: all 1s ease-in-out 0s;
}

img.icon:hover {
    transform: rotate(360deg);
    transition: all 1s;
}

input {
    width: 320px;
    padding: 13px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 13px;
    transition: all 500ms ease-in-out;
}

input.proceed {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    margin-bottom: 10px;
    margin-top: 25px;
    box-shadow: 0 15px 15px 0 hsla(245, 75%, 52%, 0.2);
}

input.cancel {
    color: hsl(224, 23%, 55%);
    background-color: transparent;
    margin-bottom: 20px;
}